@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}






/* nav */

.logo {
    display: flex;
    align-items: center;
    margin: 32px 32px;
}

.logo__pic{
    margin-right: 0.75rem;
    width: 2.5rem;
}

.logo__txt{
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.025em;
    transition-duration: 300ms;
    color: #243e63
}

.logo__txt:hover{
    color:#6415ff ;
    transition: ease 300ms;
}


.nav__container{
    position: relative;
bottom: 72px;
left: 490px;
display:flex ;
width: 100%;
max-width: 100%;


}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0  auto;
    
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__link{
    color: #243e63;
    text-decoration: none;
    margin: 0 1.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 0px 2px;
}

.nav__link--signup{
    border-radius:2rem;
    background-color: #6415ff;
    color: white;
    padding: 0.75rem 2rem;
}

.nav__link--login{
    margin-left: 3rem;
}

.hamburg{
    left: 28rem; 
    padding-top: 5px;
    padding-right: 5px;
    color: #243e63;
    position: absolute;
    margin: 0 1.5rem;

    /* display:block ; */

}













/* media responsiveness */

@media (max-width: 1025rem){
    
.nav__link{
    display: none;
}



}